div.tab-switch>div {
  display: inline-block;
  padding: 0.2em 0.4em;
  color: gray;
  background-color: #e8e8e8;
}

div.tab-switch>div:has(input.tab-switch:checked) {
  color: black;
  background-color: white;
}

input.tab-switch {
  display: none;
}

.panel {
  padding: 8px;
  background-color: white;
}

textarea {
  width: 100%;
  resize: vertical;
}

input[type="text"] {
  height: 26px;
}

ul.movie-list {
  list-style-type: none;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

#tmdb-plots {
  border: lightgray solid 1px;
  border-radius: 4px;
  font-size: 16px;
}

#tmdb-plots p {
  margin: 0.5em;
}

.notes {
  font-size: 0.8em;
}

#poster {
  width: 100%;
  max-width: 500px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80
}
.spinner {
  width: 100px;
  height: 100px;
  border: 10px #ddd solid;
  border-top: 10px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 1.0s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
