* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;  /* 強調をなくす */
}

:root {
  width: 100%;
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Arial, Helvetica;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;  /* Safari 回転対策 */
}

body {
  margin: 0;
  background-color: #fafafa;
}

header {
  width: 100%;
  padding: 8px 8px;
  background-color: honeydew;
}

header img {
  vertical-align: middle;
  margin-right: 8px;
}

main {
  margin: 8px;

}

h1 {
  font-size: 1.4em;
  margin: 0.2em 0;
}
